.lbl-main {
    font-size: 22px;
    font-weight: bold;
}

.nav-bar > div {
    background-color: rgb(148, 148, 148);    
}

.title-div {
    float: left;
    width: 75%;
}

.buttons-div {
    float: right;
    width: 25%;
}

.buttons-div > button {
    width: 130px;
    height: 40px;
    background-color: rgb(148, 148, 148);
    border-bottom: 1px solid black;
    margin-right: 1em;
    font-size: 14px;
    font-weight: bold;
}