user-form {
}

.card-userForm {
    height:100%;
    border-radius: 5px;
    background-color: white;
    overflow-y: auto;
}

.title-userForm {
    padding: 1%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(167, 167, 167);
}

.form-userForm {
    margin: auto;
    width: 100%;
    max-width: 400px;
}

.p-role {
    margin-left: 1.5em;
    font-size: 16px;
    font-weight: 900;
}

.select-role {
    margin-left: 1.5em;
    font-weight: 800;
    width: 90%;
    height: 40px;
}

.card-password {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    margin: auto;
    padding: 1em;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.passwordField>label {
    font-weight: 500;
    font-size: 16px;
}

.passwordField>input {
    width: 100%;
}

.item {
    padding: 1em;
}
.hr-form{
    background-color: rgb(131, 131, 131); 
    // width: 90%;
    margin: auto;
}
.div-buttons {
    display: inline;
}



.btn-submit {
    float: right;
    width: 80px;
    height: 30px;
    border-radius: 3px;
    background-color: rgb(64, 115, 255);
}
  
.btn-close {
    float: right;
    width: 80px;
    height: 30px;
    background-color: gray;
    border-radius: 3px;
    }

.error-message {
    font-size: 14px;
    font-weight: 700;
    background-color: #fc3838c4;
    text-align: center;
    color: white;
    padding: 2%;
    border-radius: 2px;
    width: 95%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  @media(max-width: 450px) {
    .card-login{
      margin-top:15%;
    }
  }